.nav {
    grid-area: n;
    background-color: $color-bg;
    font-family: "PlayRegular";
    background-color: $color-bg;
}

.navigation-list {
    padding-left: 20px;

    .navigation-link {
        list-style-type: none;
      
        a {
            text-decoration: none;
            color: $color;
            
            &:hover {
                color: $color-hover;
            }

            &:active {
                color: $color-hover;
            }

        }

    }

}
    



