.formControl.error input,
.formControl.error textarea {
    border: solid red 1px;
}

.formControl.error span {
    color: red;
    margin-left: 10px;
}

.formsummaryerror {
    color: red;
    margin: 10px 0 0 10px;
}
