.header {
  grid-area: h;
  background-color: #e0ddd4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 30px;
  margin-right: 10px;
}

h1 {
  font-size: 26px;
}

.loginblock {
  margin-left: 100px;
}

.btn {
  color: #fff;
  font-size: 14px;
  width: 60px;
  height: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  position: relative;
  background-color: #35627b;
  overflow: hidden;
  transition: ease 0.3s;
  cursor: pointer;
  margin-left: 15px;
}

.btn:hover {
  background-color: #4582a3;
  cursor: pointer;
}

