.nav {
  grid-area: n;
  background-color: #e0ddd4;
  font-family: "PlayRegular";
  background-color: #e0ddd4;
}

.list {
  padding: 10px 0 0 20px;
}

.link {
  list-style-type: none;
  margin-bottom: 10px;
}

.friendsLink {
  list-style-type: none;
  padding: 10px 0 0 20px;
  font-size: 26px;
}

a {
  text-decoration: none;
  color: #161616;
}

a:hover {
  color: #f29427;
  
}

a.activeLink {
  color: #f29427;
}
